*{margin:0; padding:0;}
a{text-decoration:none; cursor:pointer;}
li{list-style:none;}
img{border:none;}

@media only screen and (min-width: 320px){
    html {
        font-size:0.888rem !important;
    }
    .inputIcon img,.TrdLg ul li img,.erroMsg img{
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform:scale(0.4);
        -o-transform: scale(0.4);
    }

}
@media only screen and (min-width: 360px){
    html {
        font-size:11.25px !important;
    }
    .inputIcon img,.TrdLg ul li img,.erroMsg img{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform:scale(0.5);
        -o-transform: scale(0.5);
    }
}
@media only screen and (min-width: 400px){
    html {
        font-size:12.5px !important;
    }
    .inputIcon img,.TrdLg ul li img,.erroMsg img{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform:scale(0.5);
        -o-transform: scale(0.5);
    }
}
@media only screen and (min-width: 47.11rem){
    html {
        font-size:13px !important;
    }
    .inputIcon img,.TrdLg ul li img,.erroMsg img{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform:scale(0.5);
        -o-transform: scale(0.5);
    }
}
@media only screen and (min-width: 640px){
    html {
        font-size:14px !important;
    }
    .inputIcon img,.TrdLg ul li img,.erroMsg img{
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform:scale(0.6);
        -o-transform: scale(0.6);
    }
}
body {
    background: #ffffff;
    position: relative;
    min-height: 100%;
    font-size: 1.333rem;
    font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", Tahoma, Arial, STHeiti, sans-serif;
    /*overflow: hidden;*/
    padding-right: 0px !important;
    color: #000;
}
.clearfix:after{content:"."; display:block; clear:both; font-size:0; overflow:hidden; height:0;}

.regiTitle{
    text-align: center;
    position: relative;
    padding: 1.777rem;
    padding: 1.333rem ;
    border:1px solid #e3e3e3;
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
}
.regBackBtn{
    position: absolute;
    left: 1.333rem;
}
.regiCont{
    padding: 1.333rem  1.333rem 0  1.333rem;
}
.regInput{
    width: 100%;
    margin-bottom: 2.577rem;
    position: relative;
}
.regInput input{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    height: 4rem;
    border:1px solid #e3e3e3;
    padding: 0 1.2rem;
    font-size: 1.333rem;
    color: #333333;
    outline-color:#fc9105;
    outline-width:1px;

}
.certainBtn{
   margin:4rem 0;
}
.certainBtn input{
    background: #fc9105;
    color: #ffffff;
    font-size:1.333rem;
}
::-moz-placeholder { color: #cccccc; font-size: 1.333rem;}
::-webkit-input-placeholder { color:#cccccc;font-size: 1.333rem; }
:-ms-input-placeholder { color:#cccccc; font-size: 1.333rem;}

.inputIcon{
    position: absolute;
    right:0.888rem;
    bottom: 0.5rem;
}
.getVerifi{
    border: 1px solid #fc9105;
    padding: 0.03rem 0.8rem;
    bottom: 1.12rem;
    color: #fc9105;
    font-size: 1.333rem;
    border-radius: 0.266rem;
    position: absolute;
    right:0.888rem;

}
.getVerifi a{
    color: #fc9105;
    font-size: 1.333rem;
}

/*登录*/
.OtherLg{
    overflow: hidden;
    position: relative;
}
.OtherLg>div{
    color: #999999;
    font-size:1.333rem;
}
.OtherLg,.TrdLg,.PrompRegis{
    padding: 1.333rem;
}
.OtherLg{
    padding-top:0;
}
.OtherLgText{
    width: 100%;
    text-align: center;
}
.lineBox{
    width: 9.333rem;
    position: absolute;
    height: 1px;
    background:#e3e3e3;
    top: 0.888rem;
}
.lineRg{
    right:1.333rem;
}
.TrdLg ul li{
    float:left;
    width: 33.33%;
}
.TrdLg ul li p{
    text-align: center;
    color: #333333;
    font-size:1.333rem;
}
.trdIcons{
    padding: 1.333rem;
}
.PrompRegis{
    text-align: center;
    color: #999999;
    font-size:1.333rem;
}
.PrompRegis a{
    color: #fc9105;
    font-size:1.333rem;
    text-decoration: underline;
    padding: 1.333rem 0;
}
.pwdRemdcCrtainBtn{
    width:100%;
    text-align: center;
    background: #fc9105;
    color: #ffffff;
    font-size:1.333rem;
    padding: 0.888rem 0;
    border:1px solid #e3e3e3;
}
.promptMsg{
    position: absolute;
    bottom: -2.133rem;
    font-size:1.155rem;
    color: #666666;
}
.erroMsg{
    position: absolute;
    width: 100%;
    left: 0px;
    /* bottom: -2.044rem; */
    font-size:1.155rem;
    color: #ff0000;
}
.erroMsg img{
    /* top: 10px; */
    position: relative;
}
/*
.twitter_button {
    width: 30px;
    height: 30px;
}*/

